name: Build
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Run Script
        run: |
          chmod +x .sh
          ./.sh
      - name: Commit changes to main
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto-commit: update from script" || echo "No changes to commit"
          git push origin main
