name: Build
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Pre-Build
        run: npm ci
      - name: Build
        run: ./.sh
      - name: Remove extra files
        run: :
      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Auto-commit: update from script" || :
          git push origin main
